# Ignore folders:
.vs/
PersonalFinanceTracker/bin/
PersonalFinanceTracker/obj/
PersonalFinanceTracker.Tests/bin/
PersonalFinanceTracker.Tests/obj/

# Ignore files:
PersonalFinanceTracker/appsettings.json
